@media screen and (max-width: 1485px) {
  .offers {
    width: 71%;
  }
}

@media screen and (max-width: 1373px) {
  .offers {
    width: 78%;
  }
}

@media screen and (max-width: 1250px) {
  header {
    width: 90%;
  }
  .offers {
    width: 82%;
  }
  .destination {
    width: 55%;
  }
}

@media screen and (max-width: 1100px) {
  header {
    width: 95%;
  }
  header .trip_bx .search_bx {
    width: 70%;
  }
  header .trip_bx .travel_bx .cards {
    overflow: auto;
  }
  header .trip_bx .travel_bx .cards .card {
    min-width: 220px;
    margin-right: 10px;
  }
  .offers {
    width: 95%;
  }
  .destination {
    width: 60%;
  }
  .package_cards {
    display: flex;
    height: auto;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    width: 90%;
  }

  .package_card {
    width: 80%;
  }
  .package_card span img {
    height: 170px;
    width: 60%;
  }
}

@media screen and (max-width: 950px) {
  header .trip_bx .search_bx {
    width: 80%;
  }
  header .trip_bx .search_bx .card {
    margin-right: 8px;
  }
  .destination {
    width: 75%;
  }

  .offers .cards .card {
    margin-top: 120px;
  }
  #feedback h2 {
    font-size: 18px;
  }
  #feedback .main_feedback {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  #feedback .main_feedback .card {
    margin-top: 5%;
    padding: 2%;
    width: 40%;
  }
  #feedback .main_feedback .card span {
    display: flex;
    height: auto;
    align-items: center;
  }
  .kmr_card {
    width: 90%;
  }
  .kmr_cards_section {
    width: 90%;
  }
  .kmr_cards_section h2 {
    display: flex;
    justify-content: center;
    background: rgb(163, 121, 121);
    height: 58px;
    align-items: center;
  }
  .ldk_card {
    width: 90%;
  }
  .ldk_cards_section {
    width: 90%;
  }
  .ldk_cards_section h2 {
    display: flex;
    justify-content: center;
    background: rgb(163, 121, 121);
    height: 58px;
    align-items: center;
  }
  .package_cards {
    display: flex;
    height: auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 90%;
  }

  .package_card {
    width: 80%;
  }
  .footer_bx {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 714px) {
  header {
    width: 100%;
  }
  header nav ul {
    position: absolute;
    width: 100px;
    height: auto;
    flex-direction: column;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 10px gray;
    justify-content: center;
    top: -100%;
    right: 30%;
    z-index: 999999999999999;
    padding: 10px 20px;
    transition: 0.8s linear;
  }

  /* Javascript class */

  header nav .ul_active {
    top: 0;
  }

  header nav ul li {
    padding: 8px 0;
    text-align: center;
  }

  header nav .bi-three-dots {
    display: unset;
  }

  header nav .trip_bx .search_bx {
    width: 93%;
  }

  .offers {
    width: 75%;
  }

  .offers .cards .card {
    margin-top: 80px;
  }
  #feedback h2 {
    font-size: 17px;
  }
  #feedback .main_feedback {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #feedback .main_feedback .card {
    margin-top: 5%;
    padding: 2%;
    width: 80%;
  }
  #feedback .main_feedback .card span {
    display: flex;
    height: auto;
    align-items: center;
  }
  .kmr_card {
    width: 90%;
  }
  .kmr_cards_section {
    width: 90%;
  }
  .kmr_cards_section h2 {
    display: flex;
    justify-content: center;
    background: rgb(163, 121, 121);
    height: 58px;
    align-items: center;
  }
  .ldk_card {
    width: 90%;
  }
  .ldk_cards_section {
    width: 90%;
  }
  .ldk_cards_section h2 {
    display: flex;
    justify-content: center;
    background: rgb(163, 121, 121);
    height: 58px;
    align-items: center;
  }
  .head {
    margin: 0 5%;
  }
  .qlData {
    margin: 0 5%;
  }
  .spans {
    margin: 0 5%;
  }
}

@media screen and (max-width: 650px) {
  header .trip_bx .search_bx .card {
    width: 140px;
  }
  header .trip_bx .search_bx input[type="button"] {
    position: absolute;
    right: 10px;
    bottom: -43px;
    font-size: 13px;
  }
  .offers {
    width: 85%;
    margin-top: 15%;
  }
  .destination {
    width: 100%;
    flex-direction: column-reverse;
  }
  .destination .des_bx,
  .img_bx {
    position: relative;
    width: 55%;
    height: auto;
  }
  .destination .des_bx {
    margin-top: 30px;
  }

  .footer_bx {
    display: flex;
    flex-direction: column;
  }

  .footer_bx span {
    margin: 1% 9%;
  }
  #feedback h2 {
    font-size: 16px;
  }

  #feedback .main_feedback {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #feedback .main_feedback .card {
    padding: 2%;
    margin-top: 5%;
    width: 80%;
  }
  #feedback .main_feedback .card span {
    display: flex;
    height: auto;
    align-items: center;
  }
  .kmr_card {
    width: 90%;
    font-size: small;
  }
  .kmr_cards_section {
    width: 90%;
  }
  .kmr_cards_section h2 {
    display: flex;
    justify-content: center;
    background: rgb(163, 121, 121);
    height: 58px;
    align-items: center;
  }
  .ldk_card {
    width: 90%;
  }
  .ldk_cards_section {
    width: 90%;
  }
  .ldk_cards_section h2 {
    display: flex;
    justify-content: center;
    background: rgb(163, 121, 121);
    height: 58px;
    align-items: center;
  }
  .package_card span img {
    height: 170px;
    width: 100%;
  }
}

@media screen and (max-width: 541px) {
  header .content .cont_bx {
    width: 85%;
  }
  header .content .cont_bx h1 {
    width: 300px;
    font-size: 22px;
  }
  header .content .cont_bx p {
    width: 300px;
    font-size: 12px;
  }
  header .trip_bx {
    margin-top: 30%;
  }
  header .trip_bx .search_bx {
    width: 89%;
  }
  header .trip_bx .search_bx .card {
    width: 110px;
  }
  header .trip_bx .search_bx .card input {
    width: 100%;
  }
  .offers h1 {
    font-size: 22px;
  }
  .offers p {
    font-size: 14px;
  }
  .offers .cards {
    justify-content: center;
  }
  .offers .cards .card {
    width: 83%;
  }
  .offers .cards .card .img_text img {
    width: 99.7%;
  }

  .destination .des_bx,
  .img_bx {
    width: 80%;
  }
  footer ul li h6 {
    font-size: 8px;
  }
  #feedback h2 {
    font-size: 15px;
  }

  #feedback .main_feedback {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #feedback .main_feedback .card {
    padding: 2%;
    margin-top: 5%;
    width: 80%;
  }
  #feedback .main_feedback .card span {
    display: flex;
    height: auto;
    align-items: center;
  }
  .kmr_card {
    width: 90%;
  }
  .kmr_cards_section {
    width: 90%;
  }
  .kmr_cards_section h2 {
    display: flex;
    justify-content: center;
    background: rgb(163, 121, 121);
    height: 58px;
    align-items: center;
  }
  .ldk_card {
    width: 90%;
  }
  .ldk_cards_section {
    width: 90%;
  }
  .ldk_cards_section h2 {
    display: flex;
    justify-content: center;
    background: rgb(163, 121, 121);
    height: 58px;
    align-items: center;
  }
}

@media screen and (max-width: 541px) {
  header .trip_bx {
    margin-top: 50%;
  }
}

@media screen and (max-width: 414px) {
  .offers {
    width: 85%;
    margin-top: 10px;
  }

  .destination .img_bx .msg:nth-child(2) {
    left: 50%;
  }
  footer p {
    width: 330px;
    font-size: 12px;
  }
  footer ul li {
    margin-right: 20px;
  }
  #feedback h2 {
    font-size: 15px;
  }

  #feedback .main_feedback {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #feedback .main_feedback .card {
    padding: 2%;
    margin-top: 5%;
    width: 80%;
  }
  #feedback .main_feedback .card span {
    display: flex;
    height: auto;
    align-items: center;
  }
  header .trip_bx {
    margin-top: 40%;
  }
  .kmr_card {
    width: 90%;
  }
  .kmr_cards_section {
    width: 90%;
  }
  .kmr_cards_section h2 {
    display: flex;
    justify-content: center;
    background: rgb(163, 121, 121);
    height: 58px;
    align-items: center;
  }
  .ldk_card {
    width: 90%;
  }
  .ldk_cards_section {
    width: 90%;
  }
  .ldk_cards_section h2 {
    display: flex;
    justify-content: center;
    background: rgb(163, 121, 121);
    height: 58px;
    align-items: center;
  }
}

@media screen and (max-width: 375px) {
  .offers {
    margin-top: 65px;
  }
  .destination .img_bx .msg:nth-child(2) {
    left: 40%;
  }
  #feedback h2 {
    font-size: 14px;
  }
  #feedback .main_feedback {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #feedback .main_feedback .card {
    margin-top: 5%;
    padding: 2%;
    width: 85%;
  }
  #feedback .main_feedback .card span {
    display: flex;
    height: auto;
    align-items: center;
  }
  header .trip_bx {
    margin-top: 30%;
  }
  .kmr_card {
    width: 90%;
  }
  .kmr_cards_section {
    width: 90%;
  }
  .kmr_cards_section h2 {
    display: flex;
    justify-content: center;
    background: rgb(163, 121, 121);
    height: 58px;
    align-items: center;
  }
  .ldk_card {
    width: 90%;
  }
  .ldk_cards_section {
    width: 90%;
  }
  .ldk_cards_section h2 {
    display: flex;
    justify-content: center;
    background: rgb(163, 121, 121);
    height: 58px;
    align-items: center;
  }
  .quickLinks_section .quickLinks p {
    font-size: small;
  }
  .quickLinks_section .quickLinks .spans .spanB p {
    font-size: x-small;
  }

  .quickLinks_section .quickLinks .spans .spanA b {
    font-size: x-small;
  }
}

@media screen and (max-width: 280px) {
  .destination .img_bx .msg:nth-child(2) {
    left: 30%;
  }
  header .content .cont_bx {
    width: 100%;
  }
  header .content .cont_bx h1 {
    font-size: 10px;
  }
  header .content .cont_bx p {
    font-size: 9px;
  }

  .footer_btm p {
    padding-left: 16px;
    font-size: 10px;
    font-weight: 500;
  }

  footer .footer_bx h2 {
    font-size: 14px;
    font-weight: 600;
  }

  .about_section .about p {
    font-size: 12px;
  }

  #feedback h2 {
    font-size: 12px;
  }

  #feedback .main_feedback {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #feedback .main_feedback .card {
    padding: 2%;
    margin-top: 5%;
    width: 90%;
    font-size: 12px;
  }
  #feedback .main_feedback .card span {
    display: flex;
    height: auto;
    align-items: center;
  }
  .kmr_card {
    width: 90%;
  }
  .kmr_cards_section {
    width: 90%;
  }
  .kmr_cards_section h2 {
    display: flex;
    justify-content: center;
    background: rgb(163, 121, 121);
    height: 58px;
    align-items: center;
  }
  .ldk_card {
    width: 90%;
  }
  .ldk_cards_section {
    width: 90%;
  }
  .ldk_cards_section h2 {
    display: flex;
    justify-content: center;
    background: rgb(163, 121, 121);
    height: 58px;
    align-items: center;
  }
  #offers .offers {
    margin-top: 1%;
  }

  .contact {
    font-size: small;
  }
  .contact form input {
    width: 200px;
    font-size: small;
  }

  .contact textarea {
    width: 200px;
  }
}
