@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
}

header {
  width: 80%;
  height: 95vh;
  margin: auto;
}

header nav #menu_bx li a::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: #f44336;
  display: block;
  margin: auto;
  transition: 0.5s;
}

header nav #menu_bx li a:hover::after {
  width: 100%;
}
header nav {
  width: 95%;
  height: 7%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header nav h4 a {
  text-decoration: none;
  color: black;
}

header nav ul {
  list-style: none;
  display: flex;
}

header nav ul li {
  padding: 3px 15px;
}

header nav ul li a {
  text-decoration: none;
  color: #121213;
  font-size: 13px;
  font-weight: 500;
  transition: 0.3s linear;
}

header nav ul li a:hover {
  color: gray;
}

header nav ul li:nth-last-child(1) {
  background: rgb(191, 121, 96);
  border-radius: 20px;
  padding: 5px 20px;
}

header nav ul li:nth-last-child(1):hover {
  background: rgb(209, 170, 156);
}

header nav ul li:nth-last-child(1) a {
  color: white;
}

header nav ul li:nth-last-child(1) a:hover {
  color: rgb(51, 49, 49);
}

header nav .bi-three-dots {
  display: none;
}

header .content {
  position: relative;
  width: 100%;
  height: 93%;
}

header .content::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 80%;
  background: url("/images/kmr-bg-4.avif");
  background-size: cover;
  border-radius: 10px;
  z-index: -1;
}

header .content .cont_bx {
  width: 500px;
  height: auto;
  color: rgb(65, 39, 39);
  padding: 30px;
}

header .content .cont_bx h1 {
  line-height: 40px;
  font-weight: 800;
}

header .content .cont_bx p {
  font-size: 16px;
  font-weight: 400;
  color: rgb(74, 40, 40);
}

header .trip_bx {
  position: relative;
  width: 95%;
  height: auto;
  margin: auto;
}

header .trip_bx .travel_bx {
  position: relative;
  width: 100%;
  height: auto;
  margin: auto;
  top: 30px;
  border-radius: 10px;
  padding-bottom: 20px;
  box-shadow: 0 20px 25px -10px rgb(165, 165, 165);
}

header .trip_bx .travel_bx::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: rgb(241, 241, 241, 0.7);
  backdrop-filter: blur(5px);
  z-index: -1;
}

header .trip_bx .travel_bx h4 {
  margin: 0;
  padding: 30px 0 15px 1.7%;
}

header .trip_bx .travel_bx .cards {
  width: 96%;
  height: auto;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .trip_bx .travel_bx .cards .card {
  width: 220px;
  height: 180px;
}

header .trip_bx .travel_bx .cards .card h3 {
  margin: 0 0 10px 0;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
}

header .trip_bx .travel_bx .cards .card img {
  width: 100%;
  height: 50%;
}

header .trip_bx .travel_bx .cards .card h3 img {
  width: 20px;
  height: 16px;
  margin-left: 5px;
}

header .trip_bx .travel_bx .cards .card .btn_city {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .trip_bx .travel_bx .cards .card .btn_city a {
  text-decoration: none;
  background: black;
  color: white;
  border-radius: 20px;
  padding: 6px 20px;
  font-size: 11px;
  transition: 0.3s linear;
}

header .trip_bx .travel_bx .cards .card .btn_city a:hover {
  background: gray;
}

header .trip_bx .travel_bx .cards .card .btn_city h5 {
  font-size: 11px;
  font-weight: 500;
  margin: 0;
  margin-top: 5px;
  line-height: 15px;
}

header .trip_bx .travel_bx .cards .card .btn_city h5 span {
  font-size: 13px;
  font-weight: 700;
}

/* Offers Section */

.offers {
  width: 68%;
  height: auto;
  margin: auto;
  margin-top: 100px;
  transition: 0.5s linear;
}

.offers h1 {
  font-weight: 600;
  text-align: center;
  margin: 0;
}
.offers p {
  font-weight: 500;
  text-align: center;
  margin: 0;
}

.offers .cards {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.offers .cards .card {
  position: relative;
  width: 200px;
  height: 350px;
  margin: 10px;
}

.offers .cards .card .img_text {
  position: relative;
  width: 100%;
  height: 250px;
  margin-top: 5px;
}

.offers .cards .card .img_text img {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 0 0;
}

.offers .cards .card .img_text h4 {
  position: absolute;
  font-size: 9px;
  padding: 10px 15px;
  bottom: 0;
  margin: 0;
  color: rgb(217, 178, 178);
  font-weight: 500;
}

.offers .cards .card .img_text h4::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  z-index: -1;
  bottom: 0;
  left: 0;
}

.offers .cards .card .cont_bx {
  width: 99%;
  display: flex;
  background: rgb(229, 218, 218);
  align-items: center;
  justify-content: space-between;
  border: 1px solid rgb(137, 103, 103);
  padding: 5px 0;
  border-radius: 0 0 5px 5px;
}

.offers .cards .card .cont_bx .price {
  line-height: 2px;
}

.offers .cards .card .cont_bx .price h4 a {
  padding-left: 5px;
  color: rgb(222, 84, 84);
  text-decoration: none;
}

.offers .cards .card .cont_bx .price h6 {
  color: rgb(124, 135, 132);
  padding-left: 5px;
}

.offers .cards .card .cont_bx .price .info_price {
  color: #121213;
  display: flex;
  justify-content: space-between;
}

.offers .cards .card .cont_bx .price .info_price h5 {
  padding-left: 5px;
}

.offers .cards .card .cont_bx .price .info_price div {
  line-height: 0;
  margin-bottom: 3%;
}

.offers .cards .card .cont_bx .price .info_price div h5 {
  font-size: small;
  padding-left: 5px;
  color: blue;
}

.offers .cards .card .cont_bx .price .info_price div p {
  font-size: small;
  padding-left: 5px;
}

.offers .cards .card .cont_bx .price .heart_chat {
  display: flex;
  align-items: center;
}

.offers .cards .card .cont_bx .price .heart_chat i:nth-child(1) {
  color: red;
  font-size: 13px;
  margin-right: 10px;
}

.offers .cards .card .cont_bx .price .heart_chat i span {
  color: black;
  font-size: 12px;
  margin-left: 3px;
  font-style: normal;
}

.offers .cards .card .cont_bx .price .heart_chat i:nth-child(2) {
  color: rgb(112, 196, 229);
  font-size: 13px;
  margin-right: 10px;
}

.offers .cards .card .cont_bx .price .info_price {
  display: flex;
  align-items: center;
  margin-top: 3px;
}

.offers .cards .card .cont_bx .price .info_price a {
  text-decoration: none;
  color: black;
  font-weight: 700;
  font-size: 11px;
  transition: 0.3s linear;
  margin-right: 13px;
}
.offers .cards .card .cont_bx .price .info_price a:hover {
  color: gray;
}

.offers .cards .card .cont_bx .price .info_price h4 {
  margin: 0;
  font-size: 13px;
}

.offers .cards .card .cont_bx .days {
  color: white;
  background: black;
  font-size: 8px;
  border-radius: 50%;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  transform: 0.3s linear;
}

.offers .cards .card .cont_bx .days:hover {
  transform: rotate(180deg);
}

/* Destination Section */

.destination {
  width: 45%;
  height: auto;
  margin: auto;
  margin-top: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.destination .des_bx,
.img_bx {
  position: relative;
  width: 50%;
  height: auto;
}

.destination .des_bx h4 {
  margin: 0;
  font-size: 20px;
  color: black;
  line-height: 10px;
  letter-spacing: 1px;
}

.destination .des_bx p {
  font-size: 12px;
}

.destination .des_bx p {
  font-size: 15px;
}

.destination .des_bx p b {
  color: rgb(189, 78, 78);
}

.destination .des_bx li {
  list-style-type: none;
  padding: 0 0 8px 0;
  font-size: 14px;
  font-weight: 500;
}

.destination .des_bx h6 {
  width: 250px;
  font-size: 12px;
  font-weight: 500;
  margin: 20px 0;
}

.destination .des_bx button {
  font-size: 12px;
  padding: 8px 15px;
  border-radius: 20px;
  cursor: pointer;
  background: black;
  color: white;
  border: 2px solid black;
  transition: 0.3s linear;
  margin-top: 9px;
}

.destination .des_bx button a {
  color: white;
  text-decoration: none;
}

.destination .des_bx button:hover {
  background: gray;
  border: 2px solid gray;
}

.destination .img_bx img {
  width: 100%;
  height: 420px;
  border-radius: 5px;
}

.destination .img_bx .msg {
  position: absolute;
  top: 50%;
  left: -10%;
  width: 160px;
  height: 50px;
  background: white;
  box-shadow: 0 5px 20px gray;
  display: flex;
  align-items: center;
  padding: 0 10px;
  border-radius: 5px;
}

.destination .img_bx .msg:nth-child(2) {
  top: 10%;
  left: 55%;
}

.destination .img_bx .msg img {
  width: 30px;
  height: 55%;
}

.destination .img_bx .msg .cont {
  margin-left: 15px;
}

.destination .img_bx .msg .cont h4 {
  margin: 0;
  font-size: 15px;
  font-weight: 500;
}

.destination .img_bx .msg .cont h4 a {
  text-decoration: none;
}

.destination .img_bx .msg .cont .bi:nth-child(1) {
  color: red;
  margin-right: 5px;
  font-size: 13px;
}

.destination .img_bx .msg .cont .bi span {
  font-size: normal;
  margin-left: 3px;
  font-size: 12px;
  color: gray;
}

.destination .img_bx .msg .cont .bi:nth-child(2) {
  color: rgb(112, 196, 229);
  margin-right: 5px;
  font-size: 13px;
}

/* Footer */

footer {
  margin-top: 7vh;
  background: rgb(55, 41, 41);
  border-radius: 6px;
}
.footer_bx {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: white;
}

footer .footer_bx span i {
  padding-right: 5px;
  color: rgb(43, 226, 192);
}

footer p {
  color: white;
}
footer p a {
  color: rgb(43, 226, 192);
  text-decoration: none;
}

footer p b {
  color: blueviolet;
}

footer .footer_btm {
  display: flex;
  justify-content: center;
}

/* -----Menu Hover---- */

.sub_menu {
  display: none;
  background: gray;
  color: black;
}

header nav .dest li:hover .sub_menu {
  display: block;
  position: absolute;
  margin-top: 10px;
  margin-left: 10px;
}

.dest li:hover .sub_menu ul {
  display: block;
  margin: 8px;
}

.dest li:hover .sub_menu ul li {
  width: 150px;
  padding: 10px;
  border-bottom: 1px dotted white;
  background: transparent;
  border-radius: 0;
  text-align: left;
}

.dest li:hover .sub_menu ul li:last-child {
  border-bottom: none;
}

select {
  border: none;
}

/* Scroll Button */
#btnScrollToTop {
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #e62739;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  color: white;
  outline: none;
  cursor: pointer;
  border: none;
}

#btnScrollToTop:active {
  background: #cc2333;
}
